<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Main title:</strong>
  <%= @blog.main_title %>
</p>

<p>
  <strong>Sub title:</strong>
  <%= @blog.sub_title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @blog.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blog.description %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
