<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light fixed-top">
<div class=container>
<%= link_to t('navbar.title'), root_path, class: "navbar-brand" %>
<button class="navbar-toggler navbar-toggler-right" type=button data-toggle=collapse data-target=#navbarResponsive aria-controls=navbarResponsive aria-expanded=false aria-label="Toggle navigation">
<span class=navbar-toggler-icon></span>
</button>
<div class="collapse navbar-collapse" id=navbarResponsive>
<ul class="navbar-nav ml-auto">
<li class=nav-item>
</li>
<li class=nav-item>
<%= link_to t('navbar.blog'), blogs_path, class: "nav-link" %>
</li>
<li class=nav-item>
<%= link_to t('navbar.products'), products_path, class: "nav-link" %>
</li>
<li class=nav-item>
<%= link_to t('navbar.about'), welcome_about_path, class: "nav-link" %>
<li>
<li class=nav-item>
<%= link_to t('navbar.contact'), new_contact_path, class: "nav-link" %>
</li>
<li class=nav-item>
</li>
<li class=nav-item>
</li>
<li class=nav-item>
<% if admin_signed_in? %>
<%= link_to "Sign Out", destroy_admin_session_path, method: :delete, class: "nav-link" %>
<% end %>
</li>
</ul>
</div>
</div>
</nav>



  <!-- Footer -->
    <footer class="py-5 bg-light">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>
